<! DOCTYPE HTML>
{% load staticfiles %}
<html>
<head>
<meta charset = "utf-8" >
    <title>SOCCER FIELD page</title>
    <link rel="stylesheet" href="{% static 'css/mystyle.css'%}">
</head>
<body>
<h1>hi this is a picture of football field</h1>
<img src="{% static 'images/test1.jpg' %}" alt="uh oh didint show">


</body>


</html>